@font-face {
    font-family: 'TiltNeon';
    src: url('TiltNeon-Regular.ttf');
}

h1, h2, h3, p {
    margin: 0;
}

.header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 3em;
}

.header-scores {
    width: 32px;
    height: 32px;
    cursor: pointer;
}

.app {
    font-family: 'TiltNeon';
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}

.app-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5em;
}

.button-container {
    display: flex;
    flex-direction: row;
    gap: 0.5em;
}

button {
    all: unset;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: aquamarine;
    padding: 1em;
    border-radius: 1em;
    transition: all 200ms;
}

button:hover {
    transform: scale(1.2)
}

textarea {
    width: 100%;
    min-height: 20vh;
    padding: 1em;
    border-radius: 1em;
}

input[type="text"] {
    padding: 1em;
    border-radius: 1em;
}

.icon-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1em;
    justify-content: center;
}

.player-container {
    display: flex;
    flex-direction: column;
}

img {
    width: 64px;
}

.small {
    width: 24px;
    cursor: pointer;
}

.bet-info {
    background-color: aliceblue;
    padding: 1em;
    border-radius: 1em;
    width: 100%;
    cursor: pointer;
}

.red-plus {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 48px;
    text-align: center;
    width: 48px;
    height: 48px;
    background-color: red;
    font-size: xx-large;
}

.bottom-right-corner {
    position: fixed;
    right: 0;
    bottom: 0;
    padding: 3em;
}

.score-row {
    display: flex;
    width: 100%;
    flex-direction: row;
    gap: 5em;
    justify-content: space-evenly;
    text-align: center;
}

.score-container {
    width: 100%;
}

td {
    padding: 0.3em 1em;
}